
			<div id="contentWrapper">
				<div class="page-title title-1">
					<div class="container">
						<div class="row">
							<div class="cell-12">
								<h1 class="fx" data-animate="fadeInLeft"><span> Política de privacidad</span></h1>
								
							</div>
						</div>
					</div>
				</div>
				
				<div class="padd-top-50">
					<div class="container">
						<div class="row">
                        <p>  Esta política de privacidad establece cómo RED BICICLETAS usa y protege toda la información que Vd. proporciona  al utilizar este sitio web. Forja y Calderería Delta S.L está comprometido en la protección de su privacidad. Si le pedimos que nos proporcione cierta información por la cual usted puede ser identificado al usar este sitio web, puede estar seguro de que sólo se utilizará de acuerdo con esta declaración de privacidad. RED BICICLETAS puede cambiar esta política en cualquier momento actualizando esta página. Usted debe visitar esta página periódicamente para asegurarse de que está de acuerdo con los cambios.</p>
                        <h3><strong>Qué recogemos</strong></h3>
                        <p>Podemos recoger la siguiente información:</p>
                        <ul>
                        
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Nombre</li>
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Información de contacto incluyendo la dirección de correo electrónico.</li>
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Información demográfica, como el código postal.</li>
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Otra información requerida para procesar los pedidos y realizar la facturación y entrega.</li>

<ul/>
</br>
 <h3><strong>Qué hacemos con la información recogida</strong></h3>
 <p>Necesitamos esta información para proporcionar un buen servicio, en particular por lo siguiente:</p>
 
   <ul>
                        
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Mantener registro de pedidos y ventas.</li>
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Mejorar nuestros productos y servicios.</li>
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Podemos enviar periódicamente correos electrónicos sobre nuevos productos, ofertas especiales y otra información que consideremos interesante a través de la dirección de correo que Vd. nos proporciona.</li>
          </br>
          

<ul/>
 <h3><strong>Seguridad</strong></h3>
  <p>Estamos comprometidos en garantizar que su información está segura. Para prevenir accesos no autorizados o revelación de datos utilizamos los sistemas más avanzados, actualizados y fiables disponibles.</p>
  
  
   <h3><strong>Uso de cookies</strong></h3>
  <p>Una cookie cookie es un pequeño fichero que solicita permiso para almacenarse en su ordenador. Cuando Vd. acepta, el fichero se crea y la cookie ayuda a analizar el tráfico web o le facilita la visita a una web específica. Las cookies permiten a las aplicaciones web reconocerle individualmente. La aplicación web puede ajustar las operaciones a sus necesidades y preferencias recordando la información necesaria.
Utilizamos cookies para identificar las páginas visitadas en nuestro sitio web. Sólo utilizamos esta información para análisis estadístico y después la información se elimina de forma permanente.
En resumen las cookies nos ayudan a proporcionar un sitio web mejor. Las cookies no nos dan acceso a información de su ordenador ni de Vd. exceptuendo la que Vd. nos proporcione directamente. Puede aceptar o declinar el uso de cookies. La mayoría de los navegadores de Internet aceptan cookies automáticamente, pero en general permiten la configuración para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.</p>

 <h3><strong>Enlaces a otros sitios web</strong></h3>
  <p>Nuestra web puede contener enlaces a otros sitios de interés. Sin embargo, una vez utilice estos enlaces para abandonar nuestra web no tenemos control del sitio al que Vd. se dirige. Por tanto no somos responsables de su privacidad ni de la protección de los datos que Vd. proporcione mientras visita estos sitios web ya que éstos no están sujetos a esta política de privacidad. Le sugerimos operar con precaución y consulte la política de privacidad aplicable al sitio en cuestión.</p>
  
  
 <h3><strong>Control de su información personal</strong></h3>
  <p>Vd. puede restringir la recopilación o el uso de su información personal de las siguientes maneras:</p>
  
  <ul>
                        
          <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico.</li>
    <li class="fx animated fadeInLeft" style="font-size:14px; line-height:25px; text-align:justify;" data-animate="fadeInLeft">si marcó la opción de recibir nuestro boletín o información publicitaria, puede cancelarlo en cualquier momento desde su ficha o escribiéndonos a delta@caldereriadelta.com</li>
          
          <p>No venderemos, cederemos ni distribuiremos su información personal a terceros sin su consentimiento, salvo si es requerido por ley o por un juez. Podemos usar su información personal únicamente para enviarle nuestro boletín o información promocional si Vd. lo ha indicado así en nuestra web.
Forja y Calderería Delta S.L. obtiene los datos del cliente para realizar la entrega de los productos adquiridos y procesar el pago de los mismos, así como el envío periódico de un boletín de novedades e información de promociones si el cliente lo ha autorizado en la ficha de alta. Forja y Calderería Delta S.L. no utiliza ni cede los datos de los clientes a terceros. Todos los datos de clientes se incorporan a un fichero automatizado propiedad de Forja y Calderería Delta S.L., de acuerdo con la Ley de Protección de Datos (Ley Orgánica 15/1999, de 13 de diciembre) y registrado en la Agencia Española de Protección de Datos. Puede solicitar la cancelación o rectificación de los mismos dirigiéndose por escrito a:<strong> Forja y Calderería Delta S.L. - Polígono Industrial Apatta, C/ Zelai Nº 5. 20400 - Ibarra, Gipuzkoa - España.</strong>
    <hr></p>
               
          </br>
      
                        
                     
	</body>
</html>